<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Библиотека презентаций</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1> Библиотека презентаций</h1>
</header>

<div class="grid">

{% for file in files %}
<div class="card">
    <div class="icon">
        📄
    </div>

    <div class="card-title">
        {{ file }}
    </div>

    <div class="buttons">
        <a class="btn view"
           href="{{ url_for('static', filename='presentations/' + file) }}"
           target="_blank">
           Открыть
        </a>

        <a class="btn download"
           href="{{ url_for('download_file', filename=file) }}">
           Скачать
        </a>
    </div>
</div>
{% endfor %}

</div>

</body>
</html>